/* General Styles */
body {
  font-family: 'Pirata One', cursive;
  margin: 0;
  padding: 0;
  background-color: #331919;
  color: #FFF;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding: 20px;
  background-color: #8B4513;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-bar {
  position: relative;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  list-style: none;
  display: none;
}

#suggestionsList li {
  padding: 5px 10px;
  cursor: pointer;
}

#suggestionsList li:hover {
  background-color: #F5F5F5;
}

.drink-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.drink-card {
  background-color: #3c2b24;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.drink-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.drink-card h2 {
  font-size: 24px;
  margin: 10px 0;
}

.drink-card p {
  margin: 5px 0;
}

.drink-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  display: none;
}

.drink-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFF;
  cursor: pointer;
}

.drink-popup #drinkPopupContent {
  color: #FFF;
}
footer {
  text-align: center;
  padding: 20px;
  grid-column: 1 / -1; /* Add this line */
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Add this line */
}
